<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.d3ifcool.pepakjawa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pepak"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:largeHeap="true">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".ParamasastraActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_pramasastra">
        </activity>

        <activity
            android:name=".RupaKawruhActivity"
            android:label="@string/title_activity_rupa_kawruh"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".KawruhBasaActivity"
            android:label="@string/title_activity_kawruh_basa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".KesusastraanActivity"
            android:label="@string/title_activity_kesusastraan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AksaraJawaActivity"
            android:label="@string/title_activity_aksara_jawa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Description"
            android:label="Deskripsi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WayangPoin"
            android:label="Wayang"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".StartQuiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PlayAgain" />
        <activity android:name=".QuizWin" />
        <activity
            android:name=".Time_Up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="Tentang" />
        <activity android:name=".InsetAksara"
            android:screenOrientation="portrait"/>
        <!--<activity android:name=".MenuActivity"></activity>-->
        <activity android:name=".JawaIndonesiaActivity"
            android:label="Jawa Ke Indonesia">
        </activity>
        <activity android:name=".IndonesiaJawaActivity"
            android:label="Indonesia Ke Jawa">
        </activity>

    </application>

</manifest>