<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.pepakjawa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />

        <provider
            android:name=".Database.Provider"
            android:authorities="org.d3ifcool.pepakjawa"
            android:exported="false" />

        <activity android:name=".PramasastralActivity" />
        <activity
            android:name=".WayangActivity"
            android:label="@string/title_activity_wayang"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RupaKawruhActivity"
            android:label="@string/title_activity_rupa_kawruh"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KawruhBasaActivity"
            android:label="@string/title_activity_kawruh_basa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KesusastraanActivity"
            android:label="@string/title_activity_kesusastraan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AksaraJawaActivity"
            android:label="@string/title_activity_aksara_jawa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KuisActivity"
            android:label="@string/title_activity_kuis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScoreActivity"
            android:label="Score"
            android:theme="@style/AppTheme" />

        <provider
            android:name=".Database.Provider"
            android:authorities="org.d3ifcool.pepakjawa"
            android:exported="false" />

        <activity android:name=".AccountActivity" />
        <activity android:name=".StartQuizActivity" />
        <activity android:name=".BestScore"></activity>
    </application>

</manifest>